### Read data from income.csv and scale the relevant features using standardization

In [61]:
# we need to do standardScaler on numerical features age and income
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [62]:
df = pd.read_csv("income.csv")

In [63]:
df.head()

      Name  Age  Income  Buy
0      Rob   27   70000  Yes
1  Michael   29   90000   No
2    Mohan   29   61000  Yes
3   Ismail   28   60000  Yes
4     Kory   42  150000   No

In [64]:
df.shape

(22, 4)

In [65]:
features = ["Age", "Income"]
scaler = StandardScaler()
df[features] = scaler.fit_transform(df[features])

In [66]:
print("\nScaled Data:")
print(df.head())

Scaled Data:
      Name       Age    Income  Buy
0      Rob -1.356055 -0.480684  Yes
1  Michael -1.009157 -0.010159   No
2    Mohan -1.009157 -0.692421  Yes
3   Ismail -1.182606 -0.715947  Yes
4     Kory  1.245679  1.401417   No

In [67]:
print("\nMeans after scaling:")
print(df[features].mean())

Means after scaling:
Age      -3.482063e-16
Income    1.059758e-16
dtype: float64

In [68]:
print("\nStandard deviations after scaling:")
print(df[features].std())

Standard deviations after scaling:
Age       1.023533
Income    1.023533
dtype: float64